.home {
    background-image: url("/lashandbrows/header-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;  /* Aligns to the bottom of the container */
    height: 100vh;
}

.intro {
    width: 100%;
    padding-bottom: 180px;
    text-align: center;
    background: linear-gradient(to right, var(--accent-color), var(--secondary-color)); /* Gradient */
    -webkit-background-clip: text; /* Safari and Chrome */
    background-clip: text; /* For modern browsers */
    color: transparent;
}


.custom-heading {
  font-size: 2.5rem; /* 6 times the root font size */
}

.btn-outline {
    border-width: 3px;
    padding: 12px 25px;
    font-size: 1.5rem;
    color: white;
    background-color: var(--secondary-color);;
    transition: background-color 0.45s ease;
}
