<!-- <h1 class="nav-offset">Design By Kim</h1> -->
<section class="base d-flex align-items-center justify-content-center text-white">
    <div class="container-fluid p-0 home intro-container">
        <div class="intro row m-0">
            <div class="col">
                <div class="row">
                    <h1 class="custom-heading">WELCOME TO OUR STUDIO!</h1>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <button type="button" class="btn btn-outline" (click)="goToService()">SEE OUR SERVICES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>