<div class="container text-center mt-3">
    <h2 class="header text-center my-1 pt-2">Pricing</h2>

    <div class="divider"></div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/lashandbrows/natural-1.jpg" class="card-img-top" alt="Natural Brows">
                <div class="card-body">
                    <h5 class="card-title">NATURAL BROWS</h5>
                    <p class="card-text">$XXX.00</p>
                    <a class="btn btn-primary">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/lashandbrows/ombre-2.jpg" class="card-img-top" alt="Natural Brows">
                <div class="card-body">
                    <h5 class="card-title">OMBRE BROWS</h5>
                    <p class="card-text">$XXX.00</p>
                    <a class="btn btn-primary">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/lashandbrows/ombre-1.jpg" class="card-img-top" alt="Natural Brows">
                <div class="card-body">
                    <h5 class="card-title">BROWS DESIGN</h5>
                    <p class="card-text">$XXX.00</p>
                    <a class="btn btn-primary">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>