
#mainNav {
  background-color: var(--primary-color);
  font-family: "BridgingProgress", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-brand {
  color: #e6a756;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: var(--secondary-color);
  font-weight: 800;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}
@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: black;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

/* Inverted of secondary color*/
.navbar-toggler-icon {
  filter: invert(34%) sepia(52%) saturate(383%) hue-rotate(4deg) brightness(96%) contrast(93%);
}
