<header>
  <a class="navbar-brand mx-auto site-heading text-center text-faded d-none d-lg-block" href="#">
    <img src="/lashandbrows/logo.png" alt="Design by KIM Logo" height="180">
  </a>
</header>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container text-center">
    <button class="navbar-toggler hidden-element" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand text-center text-uppercase d-lg-none mx-auto" href="#">
      <img src="/lashandbrows/logo.png" alt="Design by KIM" height="100">
    </a>
    <button class="navbar-toggler" id="closeOffcanvasButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link active" (click)="closeOffcanvas()" aria-current="page" routerLink="">HOME</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link" (click)="closeOffcanvas()" routerLink="services">SERVICES</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link" (click)="closeOffcanvas()" routerLink="pricing">PRICING</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link" (click)="closeOffcanvas()" routerLink="about">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>