.btn {
    font-family: 'BridgingProgress';
}

.btn-primary {
  --bs-btn-color: white;
  --bs-btn-bg: var(--secondary-color);;
  --bs-btn-border-color: var(--secondary-color);;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--primary-color);;
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 196, 142, 73;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--primary-color);;
  --bs-btn-active-border-color: var(--primary-color);;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--secondary-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
}


.header, .sub-header, .modal-title {
    font-family: 'BridgingProgress';
    font-size: 2rem;
    color: white;
}

@media (max-width: 767px) {
    .header, .sub-header {
        font-size: 1.5rem; /* Reduce font size on smaller screens */
    }
}

.header {
    font-weight: bold;
}

.sub-header {
    margin-bottom: 2rem;
}

.divider {
  width: 100%;
  height: 1px;           /* Height of the line */
  background-color: var(--primary-color); /* Line color */
  margin: 20px 0;         /* Space around the divider */
}

.book-button {
    position: relative;
    bottom: 6rem;
}

.modal-content {
    background-color: var(--primary-color);
}

.modal-title {
    color: black;
}