<div class="container-fluid">
    <div class="row justify-content-center mt-4" *ngFor="let img of naturalImages">
        <div class="col"></div>
        <div class="col text-center">
            <div class="card" style="width: 400px;">
                <img [src]="img" class="card-img-top" alt="Natural Image">
                <div class="card-body">
                    <h5 class="card-title">Natural Brows</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestias ratione maiores placeat, ea accusamus. Sunt, aperiam assumenda</p>
                    <a  class="btn btn-primary">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
